<style type="text/css">
.maintext {
    color: #8F8F8F;
    line-height: 1.5em;
    text-indent: 2em;
}

.hh {
    text-align: center;
    margin-top: 10px !important;
}

.prp {
    border-radius: 14px;
    width: 25px;
    vertical-align: middle;
}

.color1 {
    color: #8F8F8F;
}
</style>
<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header ma20">
        <div style="margin: 3% 1% 8%;">
            <h4 class="hh">流金岁月</h4>
            <h6 class="hh color1">笑笑</h6>
            <label class="fl_l color1">2017-05-02</label>
            <label class="fl_r color1"><img src="images/ydl01.png" style="width: 20px;vertical-align:middle;" />520</label>
        </div>
        <div style="margin:2%;">
            <p class="maintext">文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述</p>
            <img src="images/banner02.jpg" style="margin: 1%; width:98%">
            <div style="margin: 2%;">
                <p class="maintext">详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情</p>
            </div>
        </div>
        <div style="height: 50px"></div>
    </ion-content>
    <div class="tabs tabs-icon-left ">
        <a class="tab-item " href="# " style="border-right: 1px solid #EEEEEE;padding-right: 9%; ">
            <img src="images/zan.png " style="width: 15% ">
            <b style="font-size: 18px;margin: 0 12; ">120</b>
        </a>
        <a class="tab-item " ng-click="main.pageJump('Puckpl')" style="padding-left: 9%; ">
            <img src="images/pl.png " style="width: 15% ">
            <b style="font-size: 18px;margin: 0 12; ">120</b>
        </a>
    </div>
</ion-view>
<style type="text/css">
.maintext {
    color: #8F8F8F;
    line-height: 1.5em;
    text-indent: 2em;
}

.hh {
    text-align: center;
    margin-top: 10px !important;
}

.prp {
    border-radius: 14px;
    width: 25px;
    vertical-align: middle;
}

.color1 {
    color: #8F8F8F;
}
</style>
