
    <style type="text/css">
    .perp {
        border-radius: 30px;
        width: 50px !important;
        height: 50px !important;
    }
    
    .date-time {
        margin: 5px 0px !important;
        size: 14px;
        color: #9B9B9B;
    }
    
    .comment {
        margin-top: 20px !important;
        color: #797979;
    }
    
    .input1 {
        background-color: #F5F5F5;
        width: 100%;
        border-radius: 5px;
        height: 45px;
        position: absolute;
        bottom: 0px;
        z-index: 999;
    }
    
    .reply {
        position: absolute;
        right: 13px;
        top: 10px;
        font-size: 14px;
        color: #367AC7;
    }
    </style>
</head>

<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header ma20">
        <div class="list">
            <div class="mt10"></div>
            <a class="item item-thumbnail-left" href="#" style="padding-left: 80px !important; ">
                <img src="images/tx01.jpg" class="perp">
                <h2 class="fize16">刘拉拉</h2>
                <h3 class="date-time">05-02 12:20</h3>
                <span class="reply">回复</span>
                <p class=" mt20">评论评论评论评论评论评论评论评论评论评论评论评论评论评论</p>
            </a>
            <a class="item item-thumbnail-left" href="#" style="padding-left: 80px !important; ">
                <img src="images/tx02.jpg" class="perp">
                <h2 class="fize16">刘晓晓</h2>
                <h3 class="date-time">05-02 18:20</h3>
                <span class="reply">回复</span>
                <p class="comment">评论评论评论评论评论评论评论评论评论评论评论评论评论评论</p>
            </a>
            <a class="item item-thumbnail-left" href="#" style="padding-left: 80px !important; ">
                <img src="images/tx01.jpg" class="perp">
                <h2 class="fize16">欧阳</h2>
                <h3 class="date-time">05-01 12:20</h3>
                <span class="reply">回复</span>
                <p class=" mt20">评论评论评论评论评论评论评论评论评论评论评论评论评论评论</p>
            </a>
            <a class="item item-thumbnail-left" href="#" style="padding-left: 80px !important; ">
                <img src="images/tx02.jpg" class="perp">
                <h2 class="fize16">刘晓晓</h2>
                <h3 class="date-time">05-01 18:20</h3>
                <span class="reply">回复</span>
                <p class="comment">评论评论评论评论评论评论评论评论评论评论评论评论评论评论</p>
            </a>
            <a class="item item-thumbnail-left" href="#" style="padding-left: 80px !important; ">
                <img src="images/tx02.jpg" class="perp">
                <h2 class="fize16">刘晓晓</h2>
                <h3 class="date-time">05-01 18:20</h3>
                <span class="reply">回复</span>
                <p class="comment">评论评论评论评论评论评论评论评论评论评论评论评论评论评论</p>
            </a>
            <a class="item item-thumbnail-left" href="#" style="padding-left: 80px !important; ">
                <img src="images/tx02.jpg" class="perp">
                <h2 class="fize16">刘晓晓</h2>
                <h3 class="date-time">05-01 18:20</h3>
                <span class="reply">回复</span>
                <p class="comment">评论评论评论评论评论评论评论评论评论评论评论评论评论评论</p>
            </a>
            <a class="item item-thumbnail-left" href="#" style="padding-left: 80px !important; ">
                <img src="images/tx02.jpg" class="perp">
                <h2 class="fize16">刘晓晓</h2>
                <h3 class="date-time">05-01 18:20</h3>
                <span class="reply">回复</span>
                <p class="comment">评论评论评论评论评论评论评论评论评论评论评论评论评论评论</p>
            </a>
            <a class="item item-thumbnail-left mb40" href="#" style="padding-left: 80px !important; ">
                <img src="images/tx02.jpg" class="perp">
                <h2 class="fize16">刘晓晓</h2>
                <h3 class="date-time">04-02 18:20</h3>
                <span class="reply">回复</span>
                <p class="comment">评论评论评论评论评论评论评论评论评论评论评论评论评论评论</p>
            </a>
        </div>
    </ion-content>
</ion-view>
