<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header ma20">
        <div class="mt10"></div>
        <div class="area" ng-click="main.pageJump('Puxtxxxq')"><img src="images/tzxx.png" style="width: 14%;margin: 3%;">
            <label class="tzxiaoxi">通知消息</label>
            <p class="xiaoxi">消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息</p>
            <label class="data1">2017-05-10</label>
        </div>
        <div class="area" ng-click="main.pageJump('Puxxhf')"><img src="images/grxx.png" style="width: 14%;margin: 3%;">
            <label class="tzxiaoxi">个人消息</label>
            <p class="xiaoxi">消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息</p>
            <label class="data1">2017-05-10</label>
        </div>
    </ion-content>
</ion-view>
<style type="text/css">
.area {
    height: 12%;
    background-color: #FFF;
    border-bottom: 1px solid #E7E7E7;
    position: relative;
}

.xiaoxi {
    position: absolute;
    top: 56%;
    left: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20em;
    font-size: 12px;
    color: #787878;
}

.tzxiaoxi {
    position: absolute;
    top: 16%;
}

.data1 {
    position: absolute;
    top: 22%;
    right: 5%;
    font-size: 11px;
    color: #787878;
}
</style>

