<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header ma20">
        <div style="margin-bottom: 60px">
            <div class="published">
                <div class="djlklsd">点就乐时代!</div>
                <div><img class="userp" src="images/tx02.jpg"></div>
                <div class="username">刘晓晓</div>
                <div class="publishednum">发布：13条</div>
            </div>
            <div class="message"  ng-click="main.pageJump('Puxx')">
                <img class="mymessage" src="images/email.png">
                <span style="position: relative;bottom: 22px;">我的消息</span>
                <i class="icon ion-ios-arrow-right" style="position: relative;bottom: 32%;left: 62%;"></i>
            </div>
            <div class="article mb30" ng-click="main.pageJump('Puckfbxq')">
            <p class="evaluate">心怀向往，无惧路漫长</p>
            <div class="articlep">
                <div class="rmjx_name text-left"> <img src="images/tx01.jpg" style="width:20px;" class=" br50 mr10 fl_l">
                    <label class="">Marish</label>
                    <p class="m0 fl_r articleinfo"><img src="images/pl01.png" class="articleinfonum" ">120</p>
                <p class="m0 fl_r articleinfo "><img src="images/zan01.png " class="articleinfonum " ">120</p>
                    <p class="m0 fl_r articleinfo"><img src="images/ydl01.png" class="articleinfonum" ">120</p>
            </div>
            </div>
        </div>
        <div class="article mb30" ng-click="main.pageJump('Puckfbxq')">
        <p class="evaluate ">心怀向往，无惧路漫长</p>
            <div class="articlep ">
            <div class="rmjx_name text-left "> <img src="images/tx01.jpg " style="width:20px; " class=" br50 mr10 fl_l ">
                <label class=" ">Marish</label>
                <p class="m0 fl_r articleinfo "><img src="images/pl01.png " class="articleinfonum " ">120</p>
                    <p class="m0 fl_r articleinfo"><img src="images/zan01.png" class="articleinfonum" ">120</p>
                <p class="m0 fl_r articleinfo "><img src="images/ydl01.png " class="articleinfonum " ">120</p>
                </div>
            </div>
        </div>
        <div class="article mb30" ng-click="main.pageJump('Puckfbxq')">
            <p class="evaluate">心怀向往，无惧路漫长</p>
            <div class="articlep">
                <div class="rmjx_name text-left"> <img src="images/tx01.jpg" style="width:20px;" class=" br50 mr10 fl_l">
                    <label class="">Marish</label>
                    <p class="m0 fl_r articleinfo"><img src="images/pl01.png" class="articleinfonum" ">120</p>
                <p class="m0 fl_r articleinfo "><img src="images/zan01.png " class="articleinfonum " ">120</p>
                    <p class="m0 fl_r articleinfo"><img src="images/ydl01.png" class="articleinfonum" ">120</p>
            </div>
            </div>
        </div>
        <div class="article mb30" ng-click="main.pageJump('Puckfbxq')">
        <p class="evaluate ">心怀向往，无惧路漫长</p>
            <div class="articlep ">
            <div class="rmjx_name text-left "> <img src="images/tx01.jpg " style="width:20px; " class=" br50 mr10 fl_l ">
                <label class=" ">Marish</label>
                <p class="m0 fl_r articleinfo "><img src="images/pl01.png " class="articleinfonum " ">120</p>
                    <p class="m0 fl_r articleinfo"><img src="images/zan01.png" class="articleinfonum" ">120</p>
                <p class="m0 fl_r articleinfo "><img src="images/ydl01.png " class="articleinfonum " ">120</p>
                </div>
            </div>
        </div>
        </div>
    </ion-content>

    <style type="text/css">
        .published {
            height: 25%;
            margin-bottom: 2%;
            background-image: url(images/glzx_bg.png);
            background-size: 100%;
            height: 25%;
            margin-bottom: 2%;
        }

        .message {
            background-color: #FFF;
            height: 65px;
        }

        .djlklsd {
            color: #FFF;
            font-weight: bold;
            padding: 1%;
        }

        .userp {
            width: 60px;
            border-radius: 50px;
            border: 1px solid #fff;
            margin: 2% 42%;
        }

        .mymessage {
            width: 10%;
            margin: 3%;
        }

        .username {
            margin: 0 auto;
            text-align: center;
            color: #FFF;
            font-size: 16px;
        }

        .publishednum {
            text-align: center;
            color: #FFF;
            font-size: 10px;
        }
        
    </style>
</ion-view>

