<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header ma20">
        <label class="item item-input mt10">
            <span class="input-label fize14 labelwid">总金额</span>
            <input type="text" placeholder="填写金额" style="position: absolute;right: 10%;text-align: right;"><span class="danw">元</span>
        </label>
        <label class="item item-input mt10">
            <span class="input-label fize14 labelwid">最大红包金额</span>
            <input type="text" placeholder="填写金额" style="position: absolute;right: 10%;text-align: right;"><span class="danw">元</span>
        </label>
        <label class="item item-input">
            <span class="input-label fize14 labelwid">最大红包个数</span>
            <input type="text" placeholder="填写个数" style="position: absolute;right: 10%;text-align: right;"><span class="danw">个</span>
        </label>
        <label class="item item-input mt10">
            <span class="input-label fize14 labelwid">次大红包金额</span>
            <input type="text" placeholder="填写金额" style="position: absolute;right: 10%;text-align: right;"><span class="danw">元</span>
        </label>
        <label class="item item-input">
            <span class="input-label fize14 labelwid">次大红包个数</span>
            <input type="text" placeholder="填写个数" style="position: absolute;right: 10%;text-align: right;"><span class="danw">个</span>
        </label>
        <label class="item item-input mt10">
            <span class="input-label fize14 labelwid">随机红包总金额</span>
            <input type="text" placeholder="填写金额" style="position: absolute;right: 10%;text-align: right;"><span class="danw">元</span>
        </label>
        <label class="item item-input mt10">
            <span class="input-label fize14 labelwid">真实红包个数<small style="color: #E77975">&nbsp&nbsp(红包比例≥30%)</small></span>
            <input type="text" placeholder="填写个数" style="position: absolute;right: 10%;text-align: right;"><span class="danw">个</span>
        </label>
        <label class="item item-input">
            <span class="input-label fize14 labelwid">空白红包个数</span>
            <input type="text" placeholder="填写个数" style="position: absolute;right: 10%;text-align: right;"><span class="danw">个</span>
        </label>
        <label class="item item-input">
            <span class="input-label fize14 labelwid">红包总个数</span>
            <input type="text" placeholder="填写个数" style="position: absolute;right: 10%;text-align: right;"><span class="danw">个</span>
        </label>
        <label class="item item-input mt10">
            <span class="input-label fize14 labelwid">随即红包平均金额</span>
            <input type="text" placeholder="填写金额" style="position: absolute;right: 10%;text-align: right;"><span class="danw">元</span>
        </label>
        <label class="item item-input mt10">
            <span class="input-label fize14 labelwid">每日最大消费限额</span>
            <input type="text" placeholder="填写金额" style="position: absolute;right: 10%;text-align: right;"><span class="danw">元</span>
        </label>
        <button class="button w-90 button-positive bth40 jz fize16 bor5 mt10" style="background-color: #DA251D;color:#FAE9E8"  ng-click="main.pageJump('Pufbcg')"">发布</button>
    </ion-content>
</ion-view>
<style type="text/css">
.area {
    margin: 3% 0;
    height: 7%;
    background-color: #FFF;
    border-bottom: 1px solid #D3D3D3;
    padding: 3%;
}

.danw {
    position: absolute;
    right: 3%;
    top: 26%;
}
.labelwid {
    width: 20% !important;
}
</style>
