<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header table-bg has-footer">
        <div class="wd_top" style=" background:url(images/dp_bg.jpg) no-repeat; background-size:100%; position:relative;height: 195px">
            <div class="tx" style="padding: 20px 20px 20px 20px;">
                <div class="tx_fl">
                    <img src="images/dptx.jpg" style="width:110px; height:110px;">
                    <h5 class="bark fize15" style="margin:0px;"><b style=" color:#333; line-height:40px;">南京某某有限公司</b></h5>
                </div>
            </div>
        </div>
        <div style="background-color: #FFF;height: 105px;padding: 10px 15px;">
            <div class="mb3">
                <img src="images/lxr.png" class="display fl_l infoimg">
                <span class="pl10 wryh gray20 infotext">联系人：吴经理</span>
            </div>
            <div class="mb3">
                <img src="images/tel.png" class="display fl_l infoimg">
                <span class="pl10 wryh gray20 infotext">电话：18288888888</span>
            </div>
            <div class="mb3">
                <img src="images/email.png" class="display fl_l infoimg">
                <span class="pl10 wryh gray20 infotext">邮箱：7894184894@qq.com</span>
            </div>
            <div class="mb3">
                <img src="images/address.png" class="display fl_l infoimg">
                <span class="pl10 wryh gray20 infotext">地址：江苏省南京市华电东路234号</span>
            </div>
        </div>
        <div class="mt10" style="background-color: #FFF;height: 130px;padding: 10px 15px;">
            <h4 class="mb10 center" style="color: #DA261E">店铺简介</h4>
            <p>2001年，行行走圣都啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦2001年，行行走圣都啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦这是大师傅回家后感觉很个人突然很不发达的撒但是对方如果如果非官方</p>
        </div>
        <div class="mt10" style="background-color: #FFF;height: 210px;padding: 10px 15px;">
            <h4 class="mb10 center" style="color: #DA261E">店铺展示</h4>
            <div class="row row-wrap light-bg">
                <ion-slide-box style="height: 150px !important;">
                    <ion-slide>
                        <a href="#l" class=" col col-33 fl_l p0"><img src="images/dpzs01.png" class=" w-100 p5" />餐饮</a>
                        <a href="#" class=" col col-33 fl_l p0"><img src="images/dpzs02.png" class=" w-100 p5" />娱乐</a>
                        <a href="#" class=" col col-33 fl_l p0"><img src="images/dpzs03.png" class=" w-100 p5" />旅游</a>
                    </ion-slide>
                    <ion-slide style="width:100%">
                        <a href="#" class=" col col-33 fl_l p0"><img src="images/dpzs01.png" class=" w-100 p5" />餐饮</a>
                        <a href="#" class=" col col-33 fl_l p0"><img src="images/dpzs02.png" class=" w-100 p5" />娱乐</a>
                        <a href="#" class=" col col-33 fl_l p0"><img src="images/dpzs03.png" class=" w-100 p5" />旅游</a>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
    </ion-content>
</ion-view>
<style type="text/css">
.infoimg {
    width: 20px;
}

.infotext {
    line-height: 20px;
}
</style>
