<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header ma20">
        <div class="item-input-inset text-center ml10 mr10" style="    padding: 0px;height: 33px;border-radius: 16px;margin:10px;">
            <input type="search" style="background-color: white;width:100% !important;padding-left: 20px !important" placeholder="请输位置">
            <button class="button button-positive">
                <i class="icon ion-ios-search" style="color: #999999"></i>
            </button>
        </div>
        <div class="list light-bg" style="margin: 2px">
            <a class="item item-icon-left b0 m0 item-icon-right pt10 pb10 " href="#">
                <i class="icon icon-cart-a fize16 weizhi">当前位置：江苏省 南京市 楠溪江东街81号</i>
                <span style="color:#999; height:36px; float:right;line-height : 36px;"></span>
            </a>
        </div>
        <div style="    height: 6%;">
            <li class="item item-checkbox itcheck2 choose">
                <label class="checkbox">
                    <input type="checkbox" checked="" value="on">
                </label>安徽省
            </li>
        </div>
        <ul class="list">
            <div class="whitebg bt1px">
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" checked="" value="on">
                    </label>安庆市
                </li>
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" checked="" value="on">
                    </label>蚌埠市
                </li>
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" checked="" value="on">
                    </label>马鞍山市
                </li>
            </div>
            <div class="whitebg bt1px">
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" checked="" value="on">
                    </label>阜阳市
                </li>
                <li class="item item-checkbox itcheck  choose">
                    <label class="checkbox">
                        <input type="checkbox" value="on">
                    </label>芜湖市
                </li>
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" value="on">
                    </label>安庆市
                </li>
            </div>
        </ul>
        <div style="    height: 6%;">
            <li class="item item-checkbox itcheck2 choose">
                <label class="checkbox">
                    <input type="checkbox" checked="" value="on">
                </label>福建省
            </li>
        </div>
        <ul class="list">
            <div class="whitebg bt1px">
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" checked="" value="on">
                    </label>安庆市
                </li>
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" checked="" value="on">
                    </label>蚌埠市
                </li>
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" checked="" value="on">
                    </label>马鞍山市
                </li>
            </div>
            <div class="whitebg bt1px">
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" checked="" value="on">
                    </label>阜阳市
                </li>
                <li class="item item-checkbox itcheck  choose">
                    <label class="checkbox">
                        <input type="checkbox" value="on">
                    </label>芜湖市
                </li>
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" value="on">
                    </label>安庆市
                </li>
            </div>
        </ul>
        <div style="    height: 6%;">
            <li class="item item-checkbox itcheck2 choose">
                <label class="checkbox">
                    <input type="checkbox" checked="" value="on">
                </label>江苏省
            </li>
        </div>
        <ul class="list">
            <div class="whitebg bt1px">
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" checked="" value="on">
                    </label>安庆市
                </li>
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" checked="" value="on">
                    </label>蚌埠市
                </li>
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" checked="" value="on">
                    </label>马鞍山市
                </li>
            </div>
            <div class="whitebg bt1px">
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" checked="" value="on">
                    </label>阜阳市
                </li>
                <li class="item item-checkbox itcheck  choose">
                    <label class="checkbox">
                        <input type="checkbox" value="on">
                    </label>芜湖市
                </li>
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" value="on">
                    </label>安庆市
                </li>
            </div>
            <div class="whitebg bt1px">
                <li class="item item-checkbox itcheck choose">
                    <label class="checkbox">
                        <input type="checkbox" value="on">
                    </label>安庆市
                </li>
            </div>
        </ul>
    </ion-content>
</ion-view>
<style type="text/css">
.weizhi {
    color: #747474;
    font-size: 15px !important;
    font-family: '微软雅黑' !important;
}

.choose {
    padding-left: 60px;
    display: inline-block;
    width: 32%;
    height: 8%;
    border: 0;
    padding: 14px !important;
}

.item-checkbox .checkbox {
    position: absolute;
    top: 64%;
    left: 64%;
    z-index: 3;
    margin-top: -21px;
}

.itcheck {
    z-index: 3;
    margin: -12% 0% 10 56%;
    padding-right: 42px !important;
    text-align: right;
}

.itcheck2 {
    text-align: right;
    padding: 2% 12% 0 0 !important;
    height: 36px;
    background-color: #F5F5F5;
}
</style>
