
    <style type="text/css">
    .maintext {
        color: #8F8F8F;
        line-height: 1.5em;
        text-indent: 2em;
    }
    
    .hh {
        text-align: center;
        margin-top: 10px !important;
    }
    
    .prp {
        border-radius: 14px;
        width: 25px;
        vertical-align: middle;
    }
    
    .bottomarea {
        position: fixed;
        height: 60%;
        width: 100%;
        bottom: 0;
    }
    
    .fenxarea {
        background-color: #F6F6F6;
        height: 52%;
        width: 96%;
        position: absolute;
        left: 2%;
        bottom: 56%;
        border-radius: 10px;
        padding-top: 6%;
    }
    
    .color1 {
        color: #8F8F8F;
    }
    
    .fenx {
        width: 18%;
        display: inline-block;
        margin: 0 7% 0;
    }
    
    .share {
        padding: 2% 0% 35%;
        text-align: center;
        font-size: 10px;
    }
    
    .quxiao {
        height: 8%;
        width: 96%;
        background-color: #F6F6F6;
        position: absolute;
        left: 2%;
        bottom: 46%;
        border-radius: 10px;
        text-align: center;
    }
    </style>

 <ion-view>
<!--     <div class=" top20"></div>
<div class="bar bar-header bar-positive">
    <button class="button button-icon back-button" onClick="history.back();"> <i class="icon ion-ios-arrow-left light"></i> </button>
    <h1 class="title white"><img src="images/tx02.jpg" class="prp"></img>笑笑</h1>
</div> -->
    <ion-content class="scroll-content ionic-scroll  has-header ma20">
        <div style="margin: 0px 1% 8%;padding-top: 5px;">
            <h4 class="hh">流金岁月</h4>
            <h6 class="hh color1">笑笑</h6>
            <label class="fl_l color1">2017-05-02</label>
            <label class="fl_r color1"><img src="images/ydl01.png" style="width: 20px;vertical-align:middle;margin-right: 4px;" />520</label>
        </div>
        <div style="margin:2%;">
            <p class="maintext">文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述文章描述</p>
            <img src="images/banner02.jpg" style="margin: 1%; width:98%">
            <div style="margin: 2%;">
                <p class="maintext">详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情</p>
            </div>
            <img src="images/down.png" style="display:block; margin:auto;width: 20px;">
            <a><img src="images/red02.png" style="display:block; margin:auto;width: 80px;margin-top: 20px;"></a>
            <div style="color: #AAAAAA">
                <p>下三篇信息：</p>
                <p>熬夜的10个危害</p>
                <p>熬夜的10个危害</p>
                <p>熬夜的10个危害</p>
            </div>
    </ion-content>
    <div style="background:rgba(0,0,0,0.5);position:fixed; bottom:0; left:0px; width:100%; height:100%;z-index:2; overflow:hidden">
        <div class="bottomarea">
            <div class="fenxarea">
                <div class="fenx"><img style="width: 100%" src="images/share01.png">
                    <div class="share">新浪微博</div>
                </div>
                <div class="fenx"><img style="width: 100%" src="images/share02.png">
                    <div class="share">微信好友</div>
                </div>
                <div class="fenx"><img style="width: 100%" src="images/share03.png">
                    <div class="share">QQ</div>
                </div>
                <div class="fenx"><img style="width: 100%" src="images/share04.png">
                    <div class="share">微信朋友圈</div>
                </div>
                <div class="fenx"><img style="width: 100%" src="images/share05.png">
                    <div class="share">QQ空间</div>
                </div>
                <div class="fenx"><img style="width: 100%" src="images/share06.png">
                    <div class="share">复制网址</div>
                </div>
            </div>
            <div class="quxiao" ng-click="main.backRoute()">
                <div style="margin: 2%;font-size: 18px;color: #DD3832">取消</div>
            </div>
        </div>
    </div>
 </ion-view>
