<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header">
        <div class="ma10 mb50" style="background-color: white;min-height: 160px;position: relative;">
            <textarea placeholder="请填写您的宝贵意见"></textarea>
            <div class="addpic">
                <div class="add"><img src="images/add_pic.png" style="width: 25px;height: 25px;">
                </div>
            </div>
        </div>
        <button class="button w-90 button-positive bth40 jz fize16 bor5" style="background-color: #DA251C;color:#FAE9E8;margin-top: 50px !important">提交</button>
    </ion-content>
</ion-view>
<style type="text/css">
.addpic {
    background-color: #FFF;
    margin-top: 10px;
    padding: 10px 14px;
    position: absolute;
    bottom: 0px;
}

.add {
    padding: 9px 9px;
    width: 45px;
    height: 45px;
    border: 1px solid #E2E2E2;
}

textarea {
    width: 100%;
    padding: 10px !important;
    height: 20%;
}
</style>

