<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header table-bg">
        <div style="height: 8%;background-color: #FFF;margin-top: 3%;padding:14px 10px;">
            <span style="font-size: 16px;">今日消费实时金额</span>
            <span class="color1 fl_r">5.00</span>
        </div>
        <div class="list">
            <div class="item item-divider light-bg item-borderless" style="background-color: #F4F4F4 "><span>消费明细</span><span class="fl_r">金额</span></div>
            <div class="list-item item-text-wrap">
                <a class="item p14">
                    <h2 class=" fize16 gray30">被领取红包<span class="color1 fl_r">-1.00</span></h2>
                </a>
            </div>
            <div class="list-item item-text-wrap">
                <a class="item p14">
                    <h2 class=" fize16 gray30">被领取红包<span class="color1 fl_r">-1.00</span></h2>
                </a>
            </div>
            <div class="list-item item-text-wrap">
                <a class="item p14">
                    <h2 class=" fize16 gray30">被领取红包<span class="color1 fl_r">-1.00</span></h2>
                </a>
            </div>
            <div class="list-item item-text-wrap">
                <a class="item p14">
                    <h2 class=" fize16 gray30">被领取红包<span class="color1 fl_r">-1.00</span></h2>
                </a>
            </div>
            <div class="list-item item-text-wrap">
                <a class="item p14">
                    <h2 class=" fize16 gray30">被领取红包<span class="color1 fl_r">-1.00</span></h2>
                </a>
            </div>
        </div>
    </ion-content>
    </body>
    <style type="text/css">
    .color1 {
        color: #E04F4A;
    }
    </style>
</ion-view>
