<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header ">

<div class="list light-bg m-1">

  <a class="item item-icon-left pr40 b0 m0 bdbt90 item-icon-right pt10 pb10 border2"  href="#">
    <i class="icon icon-address-a fize16">头像</i>
    <span style="color:#999; float:right"><img src="images/tx02.jpg" style=" width:36px; border-radius:36px;"></span>
    <i class="icon ion-ios-arrow-right fize16"></i>
  </a>

  <a class="item item-icon-left pr40 b0 m0 bdbt90 item-icon-right pt10 pb10 border2" href="#">
    <i class="icon icon-address-a fize16">昵称</i>
    <span style="color:#999; height:36px;float:right;line-height : 36px;">爱喝酒的孩子</span>
    <i class="icon ion-ios-arrow-right fize16"></i>
  </a>
  <a class="item item-icon-left pr40 b0 m0 bdbt90 item-icon-right pt10 pb10 border2" href="#">
    <i class="icon icon-cart-a fize16">手机号</i>
    <span style="color:#999; height:36px; float:right;line-height : 36px;">15922222222</span>
  </a>
  <a class="item item-icon-left pr40 b0 m0 bdbt90 item-icon-right pt10 pb10 border2" href="#">
    <i class="icon icon-cart-a fize16">修改密码</i>
    <span style="color:#999; height:36px; float:right"> </span>
    <i class="icon ion-ios-arrow-right fize16"></i>
  </a>

</div>
  </ion-content>
</ion-view>
