<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header table-bg">
        <div class="tab light-bg mb10">
            <ul>
                <li class=" hover fize15" ">常见问题</li>
        <li class="fize15 ">全部问题</li>
                <li class="fize15">我的反馈</li>
            </ul>
        </div>
  <a class="item item-icon-left pr10 b0 m0 bdbt90 item-icon-right" href="#">
    <i class="icon icon-address-a fize16">新手指引</i>
    <span style="color:#999; height:36px; float:right"> </span>
    <i class="icon ion-ios-arrow-right fize16"></i>
  </a>
  <a class="item item-icon-left pr10 b0 m0 bdbt90 item-icon-right" href="#">
    <i class="icon icon-address-a fize16">投诉建议</i>
    <span style="color:#999; height:36px; float:right"> </span>
    <i class="icon ion-ios-arrow-right fize16"></i>
  </a>
  <a class="item item-icon-left pr10 b0 m0 bdbt90 item-icon-right" href="#">
    <i class="icon icon-address-a fize16">新手指引</i>
    <span style="color:#999; height:36px; float:right"> </span>
    <i class="icon ion-ios-arrow-right fize16"></i>
  </a>
  <a class="item item-icon-left pr10 b0 m0 bdbt90 item-icon-right" href="#">
    <i class="icon icon-address-a fize16">投诉建议</i>
    <span style="color:#999; height:36px; float:right"> </span>
    <i class="icon ion-ios-arrow-right fize16"></i>
  </a>
    </ion-content>
</ion-view>
