<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header table-bg">
        <div style="height: 82px;background-color: #FFF;">
            <div class="fapiaotype">发票类型</div><span class="fapiao">普通发票</span><span class="fapiao fapiaochoice">专用发票</span>
        </div>
        <label class="item item-input">
            <span class="input-label fize15 fapiaoinfo">收票人信息</span>
        </label>
        <label class="item item-input">
            <span class="input-label fize15 fapiaoinfo">收票人姓名</span>
            <p style="position: absolute;left: 130px;top: 29%;">刘胖胖</p>
        </label>
        <label class="item item-input">
            <span class="input-label fize15 fapiaoinfo">收票人手机号</span>
            <p style="position: absolute;left: 130px;top: 29%;">180****4286</p>
        </label>
        <label class="item item-input mt10">
            <span class="input-label fize15 fapiaoinfo">发票信息</span>
        </label>
        <label class="item item-input">
            <span class="input-label fize15 fapiaoinfo">单位名称</span>
            <input type="text" placeholder="请填写单位名称">
        </label>
        <label class="item item-input">
            <span class="input-label fize15 fapiaoinfo">税号</span>
            <input type="text" placeholder="请填写税号">
        </label>
        <label class="item item-input">
            <span class="input-label fize15 fapiaoinfo">开户行</span>
            <input type="text" placeholder="请填写开户行">
        </label>
        <label class="item item-input">
            <span class="input-label fize15 fapiaoinfo">账号</span>
            <input type="text" placeholder="请填写账号">
        </label>
        <label class="item item-input">
            <span class="input-label fize15 fapiaoinfo">公司地址</span>
            <input type="text" placeholder="请填写公司地址">
        </label>
        <label class="item item-input">
            <span class="input-label fize15 fapiaoinfo">联系电话</span>
            <input type="text" placeholder="请填写联系电话">
        </label>
        <button class="button w-90 button-positive bth40 jz fize16 bor5" style="background-color: #DA251C;color:#FAE9E8;margin-top: 50px !important" ng-click="main.backRoute()">完成</button>
    </ion-content>
<style type="text/css">
.fapiaotype {
    font-size: 15px;
    padding: 3%;
}

.fapiao {
    margin-left: 3%;
    padding: 1% 3% 1%;
    border-radius: 3px;
    font-size: 13px;
    color: #AAAAAA;
    border: 1px solid #AAAAAA;
}

.fapiaochoice {
    color: #DE3E37;
    border: 1px solid #DE3E37;
}

.fapiaoinfo {
    width: 20% !important;
    margin-right: 12px;
}
</style>
</ion-view>


