<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header table-bg">
        <div class="mt10"></div>
        <label class="item item-input height1">
            <span class="input-label fize15 positionlabel">姓名</span>
            <input type="text" placeholder="请填写收货人姓名">
        </label>
        <label class="item item-input height1">
            <span class="input-label fize15 positionlabel">手机号码</span>
            <input type="text" placeholder="请填写收货人手机号">
        </label>
        <label class="item item-input height1">
            <span class="input-label fize15 positionlabel">公司名称</span>
            <input type="text" placeholder="请填写公司名称">
        </label>
        <label class="item item-input height1">
            <span class="input-label fize15 positionlabel">所在省</span>
            <input type="text" placeholder="请选择省">
        </label>
        <label class="item item-input height1">
            <span class="input-label fize15 positionlabel">所在市</span>
            <input type="text" placeholder="请选择市">
        </label>
        <label class="item item-input height1">
            <span class="input-label fize15 positionlabel">所在区</span>
            <input type="text" placeholder="请填写详细地址方便我们正确送达">
        </label>
        <label class="item item-toggle height1 mt10 p17">
            是否设为默认地址
            <label class="toggle toggle-assertive">
                <input type="checkbox" checked="">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </label>
        <button class="button w-90 button-positive bth40 jz fize16 bor5" style="background-color: #DA251C;color:#FAE9E8;margin-top: 50px !important" onClick="location.href='txyhkxx.html'">确认</button>
    </ion-content>
<style type="text/css">
.height1 {
    height: 60px;
}
.positionlabel {
    width: 20% !important;
    margin-right: 12px;
}
</style>
</ion-view>


