<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header table-bg">
        <div class="tab light-bg">
            <ul>
                <li class=" fize18" ng-click="main.pageJump('maxfmx')">全部</li>
                <li class="hover fize18 " ng-click="main.pageJump('maxfmx2')">充值明细</li>
                <li class=" fize18" ng-click="main.pageJump('maxfmx3')">消费明细</li>
            </ul>
        </div>
        <div class="list">
            <div class="item item-divider light-bg item-borderless" style="background-color: #F4F4F4 "><span>日期</span><span class="fl_r">金额</span></div>
            <div class="list-item item-text-wrap">
                <a class="item">
                    <h2 class=" fize16 gray30">成功充值1000元<span class="color1 fl_r" style="color: #E04F4A">+1000.00</span></h2>
                    <h2 class="fize15 pt5 gray60">2016-05-06</h2>
                </a>
            </div>
            <div class="list-item item-text-wrap">
                <a class="item">
                    <h2 class=" fize16 gray30">成功充值5000元<span class="color1 fl_r" style="color: #E04F4A">+5000.00</span></h2>
                    <h2 class="fize15 pt5 gray60">2016-05-06</h2>
                </a>
            </div>
            <div class="list-item item-text-wrap">
                <a class="item">
                    <h2 class=" fize16 gray30">发布消息消费1000元<span class="color1 fl_r" style="color: #E04F4A">-1000.00</span></h2>
                    <h2 class="fize15 pt5 gray60">2016-05-06</h2>
                </a>
            </div>
            <div class="list-item item-text-wrap">
                <a class="item">
                    <h2 class=" fize16 gray30">发布视频消费1000元<span class="color1 fl_r" style="color: #E04F4A">-1000.00</span></h2>
                    <h2 class="fize15 pt5 gray60">2016-05-06</h2>
                </a>
            </div>
            <div class="list-item item-text-wrap">
                <a class="item">
                    <h2 class=" fize16 gray30">发布视频消费1500元<span class="color1 fl_r" style="color: #E04F4A">-1500.00</span></h2>
                    <h2 class="fize15 pt5 gray60">2016-05-06</h2>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
