<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header table-bg" ng-init="ctrl.showEarnings()">
        <div class="top">
            <span class="wdsy">我的收益</span>
            <span class="cksygz" ng-click="main.pageJump('mcksygz')">查看收益规则</span>
            <div class="money">￥{{ctrl.data.count}}</div>
            <div class="hbsy">
                <div class="divbolck" style="background-color: #FFF4E2;color: #FFB23E">红包收益<br>￥{{ctrl.data.redpacket}}</div>
                <div class="divbolck" style="background-color: #EFFDFE;color: #85BAF5">一级收益<br>￥{{ctrl.data.frist}}</div>
                <div class="divbolck" style="background-color: #F3F8DA;color: #CBDB71">二级收益<br>￥{{ctrl.data.second}}</div>
            </div>
        </div>
        <div class="tab light-bg">
            <ul>
                <li class="  fize18" ng-click="ctrl.changeTab(1)" ng-class="{true:'hover'}[ctrl.type==1]">全部</li>
                <li class="fize18 " ng-click="ctrl.changeTab(3)" ng-class="{true:'hover'}[ctrl.type==3]">获得明细</li>
                <li class=" fize18" ng-click="ctrl.changeTab(4)" ng-class="{true:'hover'}[ctrl.type==4]">提现明细</li>
            </ul>
        </div>
        <page-plugin  refresher="" page-load="ctrl.showRecord(json)" infinite-scroll="" page-data="ctrl.list"  handle="redpacketRe_handle">
        <div class="list">
            <div class="item item-divider light-bg item-borderless" style="background-color: #F4F4F4 "><span>日期</span><span class="fl_r">金额</span></div>
            <div class="list-item item-text-wrap">
                <a class="item" ng-repeat="x in ctrl.list">
                    <h2 class=" fize16 gray30" ng-if="x.type==3">领取红包<span class="fl_r" style="color: #DA251E;">+{{x.money}}</span></h2>
                    <h2 class=" fize16 gray30" ng-if="x.type==4">提现<span class="fl_r" style="color:#DA251E;">-{{x.money}}</span></h2>
                    <h2 class="fize15 pt5 gray60">{{x.time}}</h2>
                </a>
            </div>
        </div>
            </page-plugin>
    </ion-content>
    <style type="text/css">
.top {
    position:relative;
    height: 180px;
    background-image: url(images/banner01.jpg);
    background-size: 100% 100%;
    margin-bottom: 2px;
}

.wdsy {
    position: absolute;
    top: 18%;
    left: 3%;
}

.cksygz {
    position: absolute;
    right: 3%;
    top: 5%;
    font-size: 12px;
}

.money {
    position: absolute;
    top: 38%;
    left: 3%;
    font-size: 33px;
    color: #DA251E;
}

.hbsy {
    position: absolute;
    top: 58%;
    width: 100%;
    height: 35%;
    text-align: center;
}

.divbolck {
    display: inline-block;
    background-color: #FFF4E2;
    height: 100%;
    width: 27%;
    border: 2px solid #FFDA9D;
    border-radius: 7px;
    margin: 2%;
    text-align: center;
    padding: 2% 4%;
}
</style>
</ion-view>