<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header table-bg">
        <div class="list mb30" style="margin-top:5%">
            <label class="item item-input">
                <span class="input-label" style="width: 20% !important">原密码</span>
                <input type="text" placeholder="请输入原密码" ng-model="ctrl.prePsword">
            </label>
            <label class="item item-input">
                <span class="input-label" style="width: 20% !important">重置密码</span>
                <input type="password" placeholder="请输入新密码" ng-model="ctrl.newPsword">
            </label>
            <label class="item item-input">
                <span class="input-label" style="width: 20% !important">确认密码</span>
                <input type="password" placeholder="请再次输入密码" ng-model="ctrl.againPsword">
            </label>
        </div>
        <button class="button w-90 button-positive bth40 jz fize16 bor5 mt10" style="background-color: red;color:white" ng-click="ctrl.updatePsword()" >保存</button>
    </ion-content>
</body>
</ion-view>
