<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header">
        <div style="color:#e60000;line-height : 20px;">
            <br/>
            <bn/>
        </div>
        <div class="ma10 mb50" style="background-color: white;min-height: 200px">
            <input class="ma10" type="text" placeholder="请填写您的宝贵建议">
            <!--
        <img class="ml10" style="width: 70px;height: 70px;margin-top: 80px;padding: 20px" src="images/add_pic.png">
        <label class="ml20">添加图片</label> -->
        </div>
        <button class="button w-90 button-positive bth40 jz fize16 bor5" style="background-color: red;color:white" onClick="location.href='txcg.html'">提交</button>
    </ion-content>
</ion-view>