<ion-view>
 <ion-content class="scroll-content ionic-scroll  has-header table-bg">

  <div style="color:#808080;line-height : 36px;padding-left:8px">
    <span>请输入136****1536收到的短信验证码</span>
  </div>
  <div class="list mb50">
    <label class="item item-input pt5" >
      <span class="input-label" style="width: 20% !important">验证码</span>
      <input type="text" placeholder="请输入验证码">
      <span class="fl_r mr10 pt5 pb10 fize20">|</span>
      <span class="fl_r mr20" style="color: #DF433D">59秒后重发</span>
    </label>
  </div>
  <button class="button w-90 button-positive bth40 jz fize16 bor5 mt10" style="background-color: red;color:white"  ng-click="main.pageJump('mtjyhkcg')" >下一步</button>
</ion-content>
</ion-view>
