<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header ">
        <div style="color:#e60000;line-height : 36px;padding-left:8px">
            <span>大于50元才可提现!</span>
        </div>
        <div class="list mb30">
            <a class="item pr10 b0 m0 bdbt90 item-icon-right" ng-click="main.pageJump('mxzyhk')" >
                <img src="images/bank_card03.png" class="display fl_l" style="max-width:30px !important; max-height:px !important" />
                <span class="pl10 wryh gray20" style="line-height:30px !important;">南京银行(2222)</span>
                <span style="color:#999; height:36px; float:right"> </span>
                <i class="icon ion-ios-arrow-right fize16"></i>
            </a>
            <label class="item item-input">
                <span class="input-label" style="width: 5% !important;font-size: 1.5em">￥</span>
                <input type="text" placeholder="请输入提现金额">
            </label>
        </div>
        <button class="button w-90 button-positive bth40 jz fize16 bor5 mt10" style="background-color: red;color:white" ng-click="main.pageJump('mtxcg')" >确认提现</button>
    </ion-content>
</ion-view>
