
<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header ">
        <div style="color:#e60000;line-height : 20px;">
            <br/>
            <bn/>
        </div>
        <div class="list mb30">
            <ion-list>
                <ion-radio ng-model="choice" ng-value="'A'" class="item">
                    <img src="images/bank_card02.png" class="display fl_l" style="margin:0 auto;width:40px;height: 40px" />
                    <div style="padding-left:70px">
                        <h2 class="fize16 gray30">中国银行</h2>
                        <h2 class="fize13 pt5 gray60">尾号2222储蓄卡</h2>
                    </div>
                </ion-radio>
                <ion-radio ng-model="choice" ng-value="'B'" class="item">
                    <img src="images/bank_card01.png" class="display fl_l" style="margin:0 auto;width:40px;height: 40px" />
                    <div style="padding-left:70px">
                        <h2 class="fize16 gray30">中国邮政储蓄银行</h2>
                        <h2 class="fize13 pt5 gray60">尾号2222储蓄卡</h2>
                    </div>
                </ion-radio>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
