<ion-view>

    <style type="text/css">
    .lineheght {
        line-height: 1em !important;
    }
    
    .ulx {
        padding: 16px 0px 0px !important;
        font-family: simHei;
    }
    
    .size2 {
        margin-bottom: 10px;
        font-size: 12px;
    }
    
    .touxiang {
        float: left;
        border-radius: 50px;
        width: 45px;
        margin-right: 15px;
    }
    
    .name {
        color: #81BEFD !important;
        font-size: 15px !important;
    }

    .date {
        color: #C6C6C6;
        font-size: 13px;
    }
    .xinxi {
        height: 75px;
        padding:15px;
    }
    </style>
</head>
    <ion-content class="scroll-content ionic-scroll  has-header table-bg">
        <div class="tab light-bg mb10">
            <ul class="ulx">
                <li class="hover lineheght">
                    <div>特大奖回顾</div>
                    <div class="size2">(大于1000元的)</div>
                </li>
                <li class="lineheght">
                    <div>大奖回顾</div>
                    <div class="size2">(大于1000元的)</div>
                </li>
                <li class="lineheght">
                    <div>小奖回顾</div>
                    <div class="size2">(大于1000元的)</div>
                </li>
            </ul>
        </div>
        <div class="list">
            <div class="list-item item-text-wrap">
                <a class="item xinxi">
                    <img class="touxiang" src="images/tx02.jpg">
                    <h2 class="name">欧阳<span class="color1 fl_r date">2017-05-08</span></h2>
                    <h2 class="fize13 pt5 gray60">红包信息：300元</h2>
                </a>
                <a class="item xinxi">
                    <img class="touxiang" src="images/tx02.jpg">
                    <h2 class="name">周啦啦<span class="color1 fl_r date">2017-03-08</span></h2>
                    <h2 class="fize13 pt5 gray60">红包信息：300元</h2>
                </a>
                <a class="item xinxi">
                    <img class="touxiang" src="images/tx02.jpg">
                    <h2 class="name">诸葛亮<span class="color1 fl_r date">2017-02-08</span></h2>
                    <h2 class="fize13 pt5 gray60">红包信息：300元</h2>
                </a>
                <a class="item xinxi">
                    <img class="touxiang" src="images/tx02.jpg">
                    <h2 class="name">欧阳<span class="color1 fl_r date">2017-01-08</span></h2>
                    <h2 class="fize13 pt5 gray60">红包信息：300元</h2>
                </a>
            </div>
        </div>
    </ion-content>
    </ion-view>

