<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header">
        <div style="color:#e60000;line-height : 10px;">
            <br/>
            <bn/>
        </div>
        <div style="background-color: #FFFFFF;min-height: 200px;padding: 8px;">
            <h4 class="mb20" style="border-left: 4px solid #DA251D;padding-left: 4px !important;">红包规则</h4>
            <p style="text-indent: 2em;color:#848484">红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则红包规则</p>
        </div>
    </ion-content>
</ion-view>
