<ion-view>
    <ion-content class="scroll-content ionic-scroll  has-header" ng-init="ctrl.questionDeatil()">
        <div style="color:#e60000;line-height : 10px;">
            <br/>
            <bn/>
        </div>
        <div style="background-color: #FFFFFF;min-height: 200px;padding: 8px;">
            <h4 class="mb20" style="border-left: 4px solid #DA251D;padding-left: 4px !important;">{{ctrl.about.title}}</h4>
            <p style="text-indent: 2em;color:#848484" ng-bind-html="ctrl.about.content"></p>
        </div>
    </ion-content>
</ion-view>
